.articles {
  width: 400px;
  height: 400px;
  margin: 15px;
}

.image {
  width: 400px;
  height: auto;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  text-decoration: none;
  color: #000;
}
.bookmarkIcon {
  cursor: pointer;
}

.bookmarkIcon:hover {
  opacity: 0.6;
}
