.articles {
  width: 400px;
  height: 27rem;
  margin: 15px;
}

.image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.title {
  text-decoration: none;
  color: #000;
}
.bookmarkIcon {
  cursor: pointer;
}

.bookmarkIcon:hover {
  opacity: 0.6;
}
