.container {
  width: 100vw;
  padding: 0.6rem 0 0.6rem 0;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.title {
  margin: 1.8rem;
}
