@font-face {
  font-family: "Old London";
  src: url("/fonts/OldLondon.ttf") format("truetype");
}

.header {
  border-bottom: 2px rgb(241, 217, 160) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-family: "Old London";
  text-shadow: 1px 1px 0px #000;
  margin: 1rem;
}

.logoContainer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem 0 1.8rem;
}

.linkContainer {
  width: 32rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.linkIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
.linkIcons:hover {
  cursor: pointer;
  color: gray;
  opacity: 0.8;
}

.userSection {
  font-size: 1.4rem;
  width: 12vw;
  cursor: pointer;
}

.userSection:hover {
  opacity: 0.8;
}

.date {
  width: 12vw;
  text-align: center;
  color: gray;
}

.registerContainer {
  display: flex;
  margin-bottom: 0.7rem;
  border-top: 0.5px lightgray solid;
}

.registeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerSection {
  width: 15.5rem;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}

.logoutIcon {
  margin-left: 1rem;
  color: brown;
}

.logoutIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.welcome {
  font-size: 1.4rem;
  color: gray;
}

.headerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12vw;
}

.popBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: brown;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.popBtn:hover {
  background-color: rgba(165, 42, 42, 0.103);
  border-radius: 5px;
}

.loginBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(85, 85, 226);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.loginBtn:hover {
  background-color: rgba(85, 85, 226, 0.15);
  border-radius: 5px;
}
