.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.divider {
  width: 13%;
  height: 2px;
  background-color: rgb(241, 217, 160);
  margin: 0 auto;
}

.sectionTitle {
  margin-left: 1.5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem;
}

.button {
  font-size: 1.3rem;
  color: brown;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button.selected,
.button:hover {
  border-bottom: 2px solid rgb(251, 204, 94);
  border-right: 2px solid rgb(251, 204, 94);
}

.countries {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.buttonCountry {
  font-size: 1rem;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}
.buttonCountry.selectedCountry,
.buttonCountry:hover {
  border-bottom: 2px solid rgb(251, 204, 94);
  border-right: 2px solid rgb(251, 204, 94);
}

.searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
}
.searchInput {
  width: 15rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
  padding-left: 0.5rem;
}
