.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
  padding: 1.25rem 0 1.25rem 0;
}
.articleHeader {
  display: flex;
  justify-content: space-between;
}
.topTitle {
  text-decoration: none;
  color: #000;
}

.image {
  width: 37.5rem;
  height: 16rem;
  object-fit: cover;
  overflow: hidden;
}

.topText {
  background-color: #fff;
  border: 0.5px rgb(233, 190, 89) solid;
  width: 37.5rem;
  justify-content: center;
  padding: 1.25rem;
  box-sizing: border-box;
}

.bookmarkIcon {
  cursor: pointer;
  margin: 0.3rem;
}

.bookmarkIcon:hover {
  opacity: 0.6;
}
